.card button {
  padding: 10px 17px;
  margin-top: 20px;
  background: linear-gradient(
    to right,
    #f1bd8f,
    #f1d378
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.card h1 {
  text-align: center;
}

.card button:hover {
  background: linear-gradient(
    to right,
    #f2994a,
    #f2c94c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card p {
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
}
